body {
  background: #fff;
}

svg {
	stroke: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.hour-tick{
	stroke-width:4;
  stroke-linecap: round;
  stroke: #777777;
}

.overlay {
  fill: none;
  stroke-width: 0;
  pointer-events: all;
  /*cursor: none;*/
}

.startline {
  stroke-width: 3;
  opacity: 1;
  stroke-linecap: round;
}
.endline {
  stroke-width: 3;
  opacity: 1;
  stroke-linecap: round;
}

.num {
  font-size: 50px;
  fill: #AAAAAA;
  stroke: #AAAAAA;
}

.join {
  opacity: 0.5;
  stroke-linecap: round;
}
.clock {
  display: inline;
}
