body {
  background: #fff;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

svg {
	stroke: #000;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
}

.hour-tick{
	stroke-width:4;
  stroke-linecap: round;
  stroke: #777777;
}

.overlay {
  fill: none;
  stroke-width: 0;
  pointer-events: all;
  /*cursor: none;*/
}

.startline {
  stroke-width: 3;
  opacity: 1;
  stroke-linecap: round;
}
.endline {
  stroke-width: 3;
  opacity: 1;
  stroke-linecap: round;
}

.num {
  font-size: 50px;
  font-weight: bold;
  fill: #AAAAAA;
  stroke: #AAAAAA;
}

.join {
  opacity: 0.5;
  stroke-linecap: round;
}
.clock {
  display: inline;
}

#newtaskinfo {
  height: 100px;
  width: 100%;
  text-align: center;
  margin-bottom: 50px;
}
#marker {
  font-size: 40px;
}
#duration {
  font-size: 60px;
}

p {
  margin: 0px;
}

#tasks {
  width: 100%;
  margin-top: 50px;
}

.task {
  width: 400px;
  display: block;
  background-color: #DDDDDD;
  padding: 10px;
  margin: 0 auto;
}

.template {
  display: none;
}

.duration {
  float: right;
}

.task_text {
  margin-left: 20px;
}

.task_active {
  background-color: #ffe6e6;
}
.hide {
  display: none;
}
